
.loader {
  border: 3px solid rgba(255, 255, 255, 0.25);
  border-top-color: transparent;               
  border-radius: 50%;
  width: 16px;                                 
  height: 16px;
  animation: spin89345 1s linear infinite;
  pointer-events: none;                        
}

@keyframes spin89345 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}